
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

### PHPStorm ###
/.idea/
### PHPStorm ###

### Env ###
/.env
### Env ###

### PHPUnit ###
.phpunit.result.cache
### PHPUnit ###

### Docker ###
.docker/data/*
### Docker ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

### Logs ###
/logs/
/tests-coverage/
### Logs ###